<div class="list-group list-group-flush text-center">
  
  <a class="list-group-item">
    Friday 14th
  </a>
  
  <div class="panel-body text-center">
    <table class="table">
      <thead>
        <tr>
          <th>Hour</th>
          <th>Activity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>10:00</td>
          <td>Algo</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <a class="list-group-item">
    Saturday 15th
  </a>
  
  <div class="panel-body text-center">
    <table class="table">
      <thead>
        <tr>
          <th>Hour</th>
          <th>Activity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>10:00</td>
          <td>Algo</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>