.table .hour {
  width: 20%;
}

.table .activity {
  width: 80%;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.table > tbody > tr > td:last-child {
  text-align: left;
}

.duration-30 {
  height: 40px;
  border-color: #faebcc;
  color: #8a6d3b;
  background-color: #fcf8e3;
}

.duration-15 {
  height: 20px;
}

.table > tbody > tr > td {
  padding-top: 0;
  padding-bottom: 0;
}

.duration-60 {
  height: 80px;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

#map {
  text-align: center;
}

#map img {
  width: 99%;
}

.panel-heading {
  cursor: pointer;
}

.panel-heading.inactive {
  border-bottom: none;
}

#speakers img {
  width: 100px;
}

#speakers h2 {
  margin-top: 0;
}

#speakers .list-group-item {
  min-height: 130px;
}

#speakers .list-group-item .picture {
  float: left;
  margin-right: 3%;
}